<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>WebLib</h1>
    <p>Hi <%= @user.given_name %> <%= @user.surname %>,</p>
    <p>The following item is overdue on <%= @rental.return_date.strftime('%A, %B %d at %I:%M %p') %>:</p>
    <ul>
      <li><strong><%= @item.title %></strong> by <%= @item.author.given_name + ' ' + @item.author.surname %></li>
    </ul>
    <p>Thanks for using WebLib!</p>
  </body>
</html>