<% if user_signed_in? and current_user.category > 0 %>    
    <h1>Listing users</h1>
    <table class="vertical-table">
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Category</th>
        <th colspan="2">Action</th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= link_to user.given_name + ' ' + user.surname, user %></td>
        <td><%= user.email %></td>
        <td><%= user.category_as_string %></td>
        <% if current_user.category == 2 %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      <% else current_user.category == 1 %>
        <% if user.category > 0 %>
          <td><%= "Edit" %></td>
          <td><%= "Destroy" %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        <% end %>
      <% end %>  
      </tr>
    <% end %>
    </table>
    <%= will_paginate @users %>
    <br />
    <%= link_to 'New User', new_user_path %>
<% else %>
    <p> You do not have permission to view this page. </p>
<% end %>
