<h1>Listing users</h1>

<% if user_signed_in? %>
    <table class="vertical-table">
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Category</th>
        <th colspan="2">Action</th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= link_to user.given_name + ' ' + user.surname, user %></td>
        <td><%= user.email %></td>
        <td><%= user.category_as_string %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New User', new_user_path %>
<% else %>
    <p> You do not have permission to view this page. </p>
<% end %>