<% if user_signed_in? and current_user.category > 0 or current_user.category == @user.category %>    
    <h1>Rentals for <span><%= @user.given_name %> <%= @user.surname %></span></h1>
    <p id="notice"><%= notice %></p>

    <h2>Item Information</h2>
    <table class="horizontal-table">
      <tr>
        <th>ID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= @user.given_name + ' ' + @user.surname %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td><%= @user.category_as_string %></td>
      </tr>
    </table>


    <br/>

    <h1>Rentals</h1>
    <table class="vertical-table">
      <tr>
        <th>Title</th>
        <th>Barcode</th>
        <th>Renewals</th>
        <th>Return date</th>
        <th>Rent date</th>
        <% if current_user.category > 0 %>
            <th colspan="3">Action</th>
        <% else %>
            <th colspan="1">Action</th>
        <% end %>
      </tr>

    <% @rentals.each do |rental| %>
      <tr<%= (rental.return_date < Time.now)?" class='overdue'":"" %>>
        <td><%= link_to rental.item.title, item_path(rental.item.id) %></td>
        <td><%= link_to rental.barcode_id, item_path(rental.item.id) %></td>
        <td><%= rental.renewals %></td>
        <td><%= rental.return_date %></td>
        <td><%= rental.rent_date %></td>
        <% if current_user.category > 0 %>
            <td><%= link_to 'Renew', edit_rental_path(rental) %></td>
            <td><%= link_to 'Send Overdue Notification', mailers_overdue_rental_path(rental) %></td>
            <td><%= link_to 'Return', rental, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        <% else %>
            <td>
              <% if rental.renewals > 0 %>
                <%= link_to 'Renew', edit_rental_path(rental) %>
              <% else %>
                <%= "At Renew Limit"%>
              <% end %>            
            </td>
        <% end %>  
      </tr>
    <% end %>
    </table>


    <br/>

   <h1>Holds</h1>
    <table class="vertical-table">
      <tr>
        <th>Title</th>
        <th>Barcode</th>
        <th>Start date</th>
        <th>End date</th>
        <% if current_user.category > 0 %>
            <th colspan="3">Action</th>
        <% end %>
      </tr>

    <% @holds.each do |hold| %>
      <tr>
        <td><%= link_to hold.item.title, item_path(hold.item.id) %></td>
        <td><%= link_to hold.barcode_id, item_path(hold.item.id) %></td>
        <td><%= hold.start_date %></td>
        <td><%= hold.end_date %></td>
        <% if current_user.category > 0 %>
            <td><%= link_to 'Rent', new_physical_item_rental_path(hold.physical_item.id) %></td>
            <td><%= link_to 'Edit', edit_hold_path(hold) %></td>
            <td><%= link_to 'Remove', hold, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        <% end %>    
      </tr>
    <% end %>
    </table>


    <br/>

<% if current_user.category > 0 %>
    <%= link_to 'Edit User', edit_user_path(@user) %> |
<% end %>    
    <%= link_to 'Back', :back %>
<% else %>
    <p> You do not have permission to view this page. </p>
<% end %>
