<h1>Rentals for <span><%= @user.given_name %> <%= @user.surname %></span></h1>

<% if user_signed_in? and current_user.category > 0 %>
    <p id="notice"><%= notice %></p>

    <h2>Item Information</h2>
    <table class="horizontal-table">
      <tr>
        <th>ID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= @user.given_name + ' ' + @user.surname %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td><%= @user.category_as_string %></td>
      </tr>
    </table>


    <h1>Rentals</h1>
    <table class="vertical-table">
      <tr>
        <th>Title</th>
        <th>Barcode</th>
        <th>Renewals</th>
        <th>Return date</th>
        <th>Rent date</th>
        <th colspan="3">Action</th>
      </tr>

    <% @rentals.each do |rental| %>
      <tr<%= (rental.return_date < Time.now)?" class='overdue'":"" %>>
        <td><%= link_to rental.item.title, item_path(rental.item.id) %></td>
        <td><%= link_to rental.barcode_id, item_path(rental.item.id) %></td>
        <td><%= rental.renewals %></td>
        <td><%= rental.return_date %></td>
        <td><%= rental.rent_date %></td>
        <td><%= link_to 'Renew', edit_rental_path(rental) %></td>
        <td><%= link_to 'Send Overdue Notification', new_rental_mailer_path(rental) %></td>
        <td><%= link_to 'Return', rental, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>


    <br/>

    <%= link_to 'Edit User', edit_user_path(@user) %> |
    <%= link_to 'Back', :back %>
<% else %>
    <p> You do not have permission to view this page. </p>

<% end %>

