<div id="sbpage">
<div id="main">
  <h1>Catalogue</h1>
    <% if @items.empty? %>
      <p>The search term "<%= params[:search] %>" is invalid, please retype again.</p>
      <% if user_signed_in? and current_user.category > 0 %>
        <p> <%= link_to "Back", :back %> </p>
      <% end %>
    <% else %>
        <ul>
          <li>Showing <strong><%= @results %></strong> results</li>
          <% if params[:search].present? %>
            <li>
              Searching for "<strong><%= params[:search] %></strong>" in <%= params[:search_type] %> 
              <%= link_to "(Remove)", catalogue_path(params.except(:search).except(:search_type)) %>
            </li>
          <% end %>
          <% if filter_type.present? %>
            <li>
              Filtering by <strong><%= params[:filter_kind].titleize %></strong> 
              <%= link_to "(Remove)", catalogue_path(params.except(:filter_kind).except(:filter_type)) %>
            </li>
          <% end %>
          <% if sort_column.present? %>
            <li>
              Sorting by <strong><%= (sort_column == "given_name") ? "Author" : sort_column.capitalize %></strong>
                in <%= (sort_direction == "asc") ? "ascending" : "descending" %> order 
              <%= link_to "(Remove)", catalogue_path(params.except(:sort).except(:direction)) %>
            </li>
          <% end %>
        </ul>
      <table class="horizontal-table">
        <tr>
          <th><%= sortable "title" %></th>
          <th><%= sortable "given_name", "Author" %></th>
          <th><%= sortable "publisher" %></th>
          <th><%= sortable "year" %></th>
          <th><%= sortable "genre" %></th>
          <th><%= sortable "isbn13", "ISBN 13" %></th>
          <th><%= sortable "isbn10", "ISBN 10" %></th>
          <th>Copies</th>
        </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.title.truncate(20), item, {:class => "item-title", :title => item.title} %></td>
          <td><%= link_to (item.author.given_name + " " + item.author.surname).truncate(20), item.author, {:title => item.author.given_name + " " + item.author.surname} %></td>
          <td><span title="<%= item.publisher %>"><%= item.publisher.truncate(20) %></span></td>
          <td><%= item.year %></td>
          <td><%= item.genre %></td>
          <td><%= item.isbn13 %></td>
          <td><%= item.isbn10 %></td>
          <td><%= item.physical_items.count %></td>
        </tr>
      <% end %>
      </table>
      <p><%= will_paginate @items %></p>
    </div>
    <div id="sidebar">
      <div class="wrap">
        <h3>Search</h3>
        <%= form_tag catalogue_path, :method => "get" do %>
          <%= hidden_field_tag :sort, sort_column %>
          <%= hidden_field_tag :direction, sort_direction %>
          
          <%= search_field_tag :search, params[:search] %> <br/>
          <%= select_tag :search_type, 
                options_for_select({"Search Title"     => "title",
                                    "Search Author"    => "author",
                                    "Search Genre"     => "genre",
                                    "Search Publisher" => "publisher",
                                    "Search Year"      => "year",
                                    "Search ISBN 13"   => "isbn13",
                                    "Search ISBN 10"   => "isbn10"}, :selected => params[:search_type] ) %> <br/>
          <%= select_tag :per_page, 
                options_for_select({"5 Results Per Page"     => 5,
                                    "10 Results Per Page"   => 10}, :per_page => params[:per_page] ) %> <br/>
          <%= submit_tag "Search", :name => nil %> <br/>
          <div class="filters">
            <% if !params[:filter_type].present? %>
				    <strong>Top <%= @authors.length %> Authors:</strong>
				    <ul>
              <% @authors.each do |a| %>
                <li><%= filter("given_name", a.first.truncate(20), a.last) %></li>
              <% end %>
				    </ul>
				    <strong>Top <%= @genres.length %> Genres:</strong>
				    <ul>
              <% @genres.each do |g| %>
                <li><%= filter("genre", g.first.truncate(20), g.last) %></li>
              <% end %>
				    </ul>
				    <strong>Top <%= @years.length %> Years:</strong>
				    <ul>
              <% @years.each do |y| %>
                <li><%= filter("year", y.first.to_s, y.last) %></li>
              <% end %>
				    </ul>
				    <strong>Top <%= @publishers.length %> Publishers:</strong>
				    <ul>
              <% @publishers.each do |p| %>
                <li><%= filter("publisher", p.first.truncate(20), p.last) %></li>
              <% end %>
				    </ul>
				    <% end %>
			    </div>
        <% end %>
      </div>
    </div>
  <% end %>
<div style="clear:both"></div>
</div>
