<h1>Catalogue</h1>

<table class="vertical-table">
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "given_name", "Author" %></th>
    <th><%= sortable "year" %></th>
    <th><%= sortable "genre" %></th>
    <th><%= sortable "publisher" %></th>
    <th><%= sortable "isbn13", "ISBN-13" %></th>
    <th><%= sortable "isbn10", "ISBN-10" %></th>
    <th>Copies</th>
    <% if user_signed_in? and current_user.category > 0%>
        <th colspan="2">Action</th>
    <% end %>
  </tr>
<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.title, item %></td>
    <td><%= link_to item.author.given_name + ' ' + item.author.surname, item.author %></td>
    <td><%= item.year %></td>
    <td><%= item.genre %></td>
    <td><%= item.publisher %></td>
    <td><%= item.isbn13 %></td>
    <td><%= item.isbn10 %></td>
    <td><%= item.physical_items.count %></td>
    <% if user_signed_in? and current_user.category > 0 %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>