<div id="sbpage">
<div id="main">
  <h1>Catalogue</h1>
    <% if @items.empty? %>
      <p>No items are found. Please try again.</p>
      <%= link_to "Back", catalogue_path %>
    <% else %>
        <% if params[:search].present? || filter_type.present? || sort_column.present? %>
        <ul>
          <% if params[:search].present? %>
            <li>
              Searching <strong><%= params[:search].capitalize %></strong> in <%= params[:search_type] %> 
              <%= link_to "(Remove)", catalogue_path(params.except(:search).except(:search_type)) %>
            </li>
          <% end %>
          <% if filter_type.present? %>
            <li>
              Filtering by <strong><%= params[:filter_kind].titleize %></strong> 
              <%= link_to "(Remove)", catalogue_path(params.except(:filter_kind).except(:filter_type)) %>
            </li>
          <% end %>
          <% if sort_column.present? %>
            <li>
              Sorting by <strong><%= (sort_column == "given_name") ? "Author" : sort_column.capitalize %></strong>
                in <%= (sort_direction == "asc") ? "ascending" : "descending" %> order 
              <%= link_to "(Remove)", catalogue_path(params.except(:sort).except(:direction)) %>
            </li>
          <% end %>
        </ul>
        <% end %>
      <p>
        <strong>Sort by:</strong>
          <%= sortable "title" %> | 
          <%= sortable "given_name", "Author" %> | 
          <%= sortable "genre" %> | 
          <%= sortable "year" %> | 
          <%= sortable "publisher" %> |
          <%= sortable "isbn13" %> |
          <%= sortable "isbn10" %>
      </p>
      <% @items.each do |item| %>
      <table class="catalogue-table">
        <tr>
          <th colspan="3" style="text-align:left">
            <%= link_to item.title, item, {:class => "item-title"} %>
            by <%= link_to item.author.given_name + " " + item.author.surname, item.author %>
          </th>
        </tr>
        <tr>
          <td style="text-align:left">Genre: <%= item.genre %></td>
          <td style="text-align:center">Publisher: <%= item.publisher %> (<%= item.year %>)</td>
          <td style="text-align:right">Copies: <%= item.physical_items.count %></td>
        </tr>
        <tr>
          <td colspan="3">ISBN 13: <%= item.isbn13 %> / ISBN 10: <%= item.isbn10 %></td>
        </tr>
      </table>
      <% end %>
    </div>
    <div id="sidebar">
      <div class="wrap">
        <h3>Search</h3>
        <%= form_tag catalogue_path, :method => "get" do %>
          <%= hidden_field_tag :sort, sort_column %>
          <%= hidden_field_tag :direction, sort_direction %>
          
          <%= search_field_tag :search, params[:search] %> <br/>
          <%= select_tag :search_type, 
                options_for_select({"Search Title"     => "title",
                                    "Search Author"    => "author",
                                    "Search Genre"     => "genre",
                                    "Search Publisher" => "publisher",
                                    "Search Year"      => "year",
                                    "Search ISBN 13"   => "isbn13",
                                    "Search ISBN 10"   => "isbn10"}, :selected => params[:search_type] ) %> <br/>
          <%= submit_tag "Search", :name => nil %> <br/>
          <div class="filters">
            <% if !params[:filter_type].present? %>
				    <strong>Top <%= @authors.length %> Authors:</strong>
				    <ul>
              <% @authors.each do |a| %>
                <li><%= filter("given_name", a.first.truncate(20), a.last) %></li>
              <% end %>
				    </ul>
				    <strong>Top <%= @genres.length %> Genres:</strong>
				    <ul>
              <% @genres.each do |g| %>
                <li><%= filter("genre", g.first.truncate(20), g.last) %></li>
              <% end %>
				    </ul>
				    <strong>Top <%= @years.length %> Years:</strong>
				    <ul>
              <% @years.each do |y| %>
                <li><%= filter("year", y.first.to_s, y.last) %></li>
              <% end %>
				    </ul>
				    <strong>Top <%= @publishers.length %> Publishers:</strong>
				    <ul>
              <% @publishers.each do |p| %>
                <li><%= filter("publisher", p.first.truncate(20), p.last) %></li>h
              <% end %>
				    </ul>
				    <% end %>
			    </div>
        <% end %>
      </div>
    </div>
  <% end %>
<div style="clear:both"></div>
</div>
