<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<table class="vertical-form">
  	<tr>
    		<th><%= f.label :user_id %></th>
    		<% if !@rental.physical_item.hold.nil? %>
    		    <td><%= f.number_field :user_id, { :value => @rental.physical_item.hold.user_id, :readonly => true } %></td>
    		<% elsif current_user.category > 0 %>
    		    <td><%= f.number_field :user_id %></td>
    		<% else %>    
    		    <td><%= f.number_field :user_id, { :readonly => true } %></td>    		
    		<% end %>    
	</tr>
	<tr>
	    	<th><%= f.label :barcode_id %></th>
	    	<% if current_user.category > 0 %>
    		    <td><%= f.number_field :barcode_id, { :value => @rental.barcode_id } %></td>
    		<% else %>
    		    <td><%= f.number_field :barcode_id, { :value => @rental.barcode_id, :readonly => true } %></td>    		
    		<% end %>    
	</tr>
	<tr>
    		<th><%= f.label :renewals %></th>
		<td><%= f.number_field :renewals, { :readonly => true } %></td>
	</tr>
	<tr>
    		<th><%= f.label :return_date %></th>
    		<% if current_user.category > 0 %>
		    <td><%= f.text_field :return_date, { :value => @rental.return_date.strftime('%A, %d %B %Y') } %></td>
		<% else %>
		    <td><%= f.text_field :return_date, { :value => @rental.return_date.strftime('%A, %d %B %Y'), :readonly => true } %></td>
		<% end %>		    
	</tr>
	<tr>
    		<th><%= f.label :rent_date %></th>
    		<% if current_user.category > 0 %>
		    <td><%= f.text_field :rent_date, { :value => @rental.rent_date.strftime('%A, %d %B %Y')} %></td>
		<% else %>
		    <td><%= f.text_field :rent_date, { :value => @rental.rent_date.strftime('%A, %d %B %Y'), :readonly => true } %></td>
		<% end %>	 
  	</tr>
  	</table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
