<h1>Listing Rentals</h1>

<% if user_signed_in? %>

    <p id="notice"><%= notice %></p>

    <table class="vertical-table">
      <tr>
        <th>User</th>
        <th>Barcode</th>
        <th>Renewals</th>
        <th>Return date</th>
        <th>Rent date</th>
        <th colspan="3">Action</th>
      </tr>

    <% @rentals.each do |rental| %>
      <tr<%= (rental.return_date < Time.now)?" class='overdue'":"" %>>
        <td><%= rental.user_id %></td>
        <td><%= rental.barcode_id %></td>
        <td><%= rental.renewals %></td>
        <td><%= rental.return_date %></td>
        <td><%= rental.rent_date %></td>
        <td><%= link_to 'Renew', edit_rental_path(rental) %></td>
        <td><%= link_to 'Send Overdue Notification', new_rental_mailer_path(rental) %></td>
        <td><%= link_to 'Return', rental, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Rental', new_rental_path %>
<% else %>
    <p> You do not have permission to view this page. </p>
<% end %>