<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
    <%= f.fields_for :author do |af| %>
      <%= af.label "Author's first name" %>
      <%= af.text_field :given_name %><br />  
      <%= af.label "Author's last name" %>
      <%= af.text_field :surname %><br />  
    <% end %>
    <%= f.label :year %><br />
    <%= f.text_field :year %><br />
    <%= f.label :genre %><br />
    <%= f.text_field :genre %><br />
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %><br />
    <%= f.label :isbn13 %><br />
    <%= f.text_field :isbn13 %><br />
    <%= f.label :isbn10 %><br />
    <%= f.text_field :isbn10 %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
