<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="field">
		<table class="vertical-form">
		<tr>
			<th><%= f.label :title %></th>
			<td><%= f.text_field :title %></td>
		</tr>
		<%= f.fields_for :author do |af| %>
		<tr>
			<th><%= af.label :given_name, "Author First Name" %></th>
			<td><%= af.text_field :given_name %></td>
		</tr>
		<tr>
			<th><%= af.label :surname, "Author Last Name" %></th>
			<td><%= af.text_field :surname %></td>
		</tr>
		<% end %>
		<tr>
			<th><%= f.label :year %></th>
			<td><%= f.text_field :year %></td>
		</tr>
		<tr>
			<th><%= f.label :genre %></th>
			<td><%= f.text_field :genre %></td>
		</tr>
		<tr>
			<th><%= f.label :publisher %></th>
			<td><%= f.text_field :publisher %></td>
		</tr>
		<tr>
			<th><%= f.label :isbn13, "ISBN13" %></th>
			<td><%= f.text_field :isbn13 %></td>
		</tr>
		<tr>
			<th><%= f.label :isbn10, "ISBN10" %></th>
			<td><%= f.text_field :isbn10 %></td>
		</tr>
		</table>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
