<h1>Listing Items</h1>

<table class="vertical-table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Publisher</th>
    <th>ISBN-13</th>
    <th>ISBN-10</th>
    <th>Copies</th>
    <% if user_signed_in? and current_user.category > 0%>
        <th colspan="2">Action</th>
    <% end %>
  </tr>
<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.title, item %></td>
    <td><%= link_to item.author.given_name+' '+item.author.surname, item.author %></td>
    <td><%= item.year %></td>
    <td><%= item.genre %></td>
    <td><%= item.publisher %></td>
    <td><%= item.isbn13 %></td>
    <td><%= item.isbn10 %></td>
    <td><%= item.physical_items.count %></td>
    <% if user_signed_in? and current_user.category > 0 %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @items %>

<br />
<% if user_signed_in? and current_user.category > 0 %>
    <%= link_to 'New Item', new_item_path %>
<% end %>
