<h1>Viewing <span><%= @item.title %></span></h1>

<p id="notice"><%= notice %></p>

<h2>Item Information</h2>
<table class="horizontal-table">
  <tr>
    <th>Title</th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th>Author</th>
    <td><%= link_to @item.author.given_name + ' ' + @item.author.surname, @item.author %></td>
  </tr>
  <tr>
    <th>Year</th>
    <td><%= @item.year %></td>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= @item.genre %></td>
  </tr>
  <tr>
    <th>Publisher</th>
    <td><%= @item.publisher %></td>
  </tr>
  <tr>
    <th>ISBN-13</th>
    <td><%= @item.isbn13 %></td>
  </tr>
  <tr>
    <th>ISBN-10</th>
    <td><%= @item.isbn10 %></td>
  </tr>
</table>

<% unless @copies.size == 0 %>
  <h2>Item Copies</h2>
  <table class="vertical-table">
    <tr>
      <th>Barcode</th>
      <th colspan="2">Action</th>
    </tr>
  <% @copies.each do |c| %>
    <tr>
      <td><%= c.barcode_id %></td>
      <td><%= link_to 'Edit', edit_item_physical_item_path(@item, c) %></td>
      <td><%= link_to 'Destroy', [@item, c], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<br />

<%= link_to 'Add Copy', new_item_physical_item_path(@item) %> |
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
