<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
  <b>Year:</b>
  <%= @item.year %>
  <b>Genre:</b>
  <%= @item.genre %>
  <b>Publisher:</b>
  <%= @item.publisher %>
  <b>ISBN-13:</b>
  <%= @item.isbn13 %>
  <b>ISBN-10:</b>
  <%= @item.isbn10 %>
</p>

<% unless @copies.size == 0 %>
  <table class="vertical-table">
    <tr>
      <th>Barcode</th>
      <th colspan="3">Action</th>
    </tr>
  <% @copies.each do |c| %>
    <tr>
      <td><%= c.barcode_id %></td>
      <td><%= link_to 'Show', '#' %></td>
      <td><%= link_to 'Edit', '#' %></td>
      <td><%= link_to 'Destroy', '#' %></td>
    </tr>
  <% end %>
  </table>
  <br />
<% end %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
