<!DOCTYPE html>
<html>
<head>
  <title>SENG403G1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Oswald", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<div id="header">
		<%= link_to "", root_path, :class => "logo" %>
		<div class="header-mid">
			<%= link_to root_path, :class => "weblib" do %>
				Web<span class="weblib-right">Lib</span>
			<% end %>
      <div class="welcome">
        Welcome to WebLib, a library management system!
      </div>
		</div>
		<% if request.path_parameters[:controller] != "home" %>
		<div class="header-right">
      <% if user_signed_in? %>
        Welcome <strong><%= link_to current_user.given_name+' '+current_user.surname, user_path(current_user) %></strong> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to("Login", new_user_session_path) %>
      <% end %>
		</div>
		<% end %>
	</div>

  <% if request.path_parameters[:controller] != "catalogue" %>
	<div id="content">
		<div class="wrapper">
	<% end %>
			<%= yield %>
  <% if request.path_parameters[:controller] != "catalogue" %>
		</div>
	</div>
  <% end %>
	
	<div id="footer">
		<div class="wrapper">
			<p>Created by Infomatics Team (David Adair, Shena Fortozo, Naomi Hiebert, Gellert Kispal, Sydney Pratte, Ho Wai Yung)</p>
			<p>SENG 403, Winter 2013</p>
		</div>
	</div>
</div>

</body>
</html>
